@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito&display=swap');
$police :'Montserrat', sans-serif;
$fond: #ac4249;
$degrade :#1b2125;
$bouton :#3c1823;
$texte  :#fae5e7;
$fond2:#FFFBFB;
$taillepolice: 40px;  



*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    font-family: $police;
    //height: 100%;
    color: $bouton;

}
body{
    display: flex;
    justify-content: center;
    flex-direction:column;
}
span{
    font-size: $taillepolice;
    color:$texte;
}
a{
    color:$texte;

}
.logo{
    width: 200px;
}
header,navbar{
    height:10vh;
    background: radial-gradient(circle,$fond 0% , $degrade 85% );
    background-position: -150px;
    
    width: 100%;
    margin: 0 auto ;
    align-items: center;
    justify-content: space-around;
    display: flex;
    .nav {
        font-size: 30px;
        color: $texte;
        text-decoration: none;
        &:hover{
            color:$fond;
            text-decoration: none;
        }
    }
 
    
}
 
footer{
    background: radial-gradient(circle,$fond 0% , $degrade 85% );
    background-position: -150px;
   // position:absolute;
    margin-top: auto;
   
   // padding: 15px;;
    max-width: 100%;
    width:100%;
    //padding-top:50px;
    height:10%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    .menuPage{
        display: flex;
        gap:10px;
        h1{
        .nav {
            font-size: 30px;
            color: $texte;
            text-decoration: none;
            &:hover{
                color:$fond;
                text-decoration: none;
            }
        }
    }
}

}  
