


@import 'base.scss';

.inputimage{display:none;}

@for $i from 1 through 5 {
    #preview#{$i}{
        width: 150px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        img{
            width:100%;
        }  
    }
}

.containerRecherche{
    margin-top:10px;    
   // border: 5px solid $fond;
   // border-radius: 5px;
    h1{
        text-align: center;
        }
}
    


div#page1.containerAccueil{
    //max-width: 1200px;
    margin: 0 100px ;
   // display: flex;
    //border: 5px solid $fond;
   //border-radius: 5px;
    display : grid;
    color: $degrade;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    //grid-template-rows: repeat 200px;
    height: auto; 
    gap: 0px 0px; 
    justify-content:center;
    align-items: center;
    @for $i from 1 through 10 {
        .card#{$i}{ 
            object-fit: contain;
            display:block;
            max-width: 100%;
            height:90%;
            margin:10px;
            padding : 10px;
            padding-bottom: 10%;
            color: $degrade;
           // border: 5px solid black;
           // border-radius:5px;
            background-color: $fond2; 
            -webkit-box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
            box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
        }
        h1{
            color: $degrade;
        }
    }
    img{
        object-fit: contain;
        align-items: center;
        display: block;
        margin: auto;
        text-align: center;
        
    }
    .inputimage{
        display: none;
    }
    .vignette{
        width:150px;
        height:100px;
        margin:0 auto;     
    }
    img{
        width:100%;
        height:100%;
        object-fit: contain;
    }
    
}

div#page2.containerAccueil{
    //max-width: 1200px;
    margin: 0 100px ;
   // display: flex;
    //border: 5px solid $fond;
   //border-radius: 5px;
    display : none;
    color: $degrade;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    //grid-template-rows: repeat 200px;
    height: auto; 
    gap: 0px 0px; 
    justify-content:center;
    align-items: center;
    @for $i from 1 through 10 {
        .card#{$i}{ 
            object-fit: contain;
            display:block;
            max-width: 100%;
            height:90%;
            margin:10px;
            padding : 10px;
            padding-bottom: 10%;
            color: $degrade;
            //border: 5px solid black;
           // border-radius:5px;
           -webkit-box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
           box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
            //background-color: $texte; 
        }
        h1{
            color: $degrade;
        }
    }
    img{
        object-fit: contain;
        align-items: center;
        display: block;
        margin: auto;
        text-align: center;
        
    }
    .inputimage{
        display: none;
    }
    .vignette{
        width:150px;
        height:100px;
        margin:0 auto;     
    }
    img{
        width:100%;
        height:100%;
        object-fit: contain;
    }
    
}

div#page4.containerAccueil{
       //max-width: 1200px;
       margin: 0 100px ;
       // display: flex;
        //border: 5px solid $fond;
       //border-radius: 5px;
        display : none;
        color: $degrade;
        background-color: white;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        //grid-template-rows: repeat 200px;
        height: auto; 
        gap: 0px 0px; 
        justify-content:center;
        align-items: center;
        @for $i from 1 through 10 {
            .card#{$i}{ 
                object-fit: contain;
                display:block;
                max-width: 100%;
                height:90%;
                margin:10px;
                padding : 10px;
                padding-bottom: 10%;
                color: $degrade;
                //border: 5px solid black;
                //border-radius:5px;
                -webkit-box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
                box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
                 // background-color: $texte; 
            }
            h1{
                color: $degrade;
            }
        }
        img{
            object-fit: contain;
            align-items: center;
            display: block;
            margin: auto;
            text-align: center;
            
        }
        .inputimage{
            display: none;
        }
        .vignette{
            width:150px;
            height:100px;
            margin:0 auto;     
        }
        img{
            width:100%;
            height:100%;
            object-fit: contain;
        }
             
        }

div#page3.containerAccueil{
            //max-width: 1200px;
            margin: 0 100px ;
           // display: flex;
            //border: 5px solid $fond;
           //border-radius: 5px;
            display : none;
            color: $degrade;
            background-color: white;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
            //grid-template-rows: repeat 200px;
            height: auto; 
            gap: 0px 0px; 
            justify-content:center;
            align-items: center;
            @for $i from 1 through 10 {
                .card#{$i}{ 
                    object-fit: contain;
                    display:block;
                    max-width: 100%;
                    height:90%;
                    margin:10px;
                    padding : 10px;
                    padding-bottom: 10%;
                    color: $degrade;
                    //: 5px solid black;
                    //border-radius:5px;
                    background-color: $texte; 
                }
                h1{
                    color: $degrade;
                }
            }
            img{
                object-fit: contain;
                align-items: center;
                display: block;
                margin: auto;
                text-align: center;
                
            }
            .inputimage{
                display: none;
            }
            .vignette{
                width:150px;
                height:100px;
                margin:0 auto;     
            }
            img{
                width:100%;
                height:100%;
                object-fit: contain;
            }
            
        }
div#page5.containerAccueil{
            //max-width: 1200px;
            margin: 0 100px ;
           // display: flex;
            //border: 5px solid $fond;
           //border-radius: 5px;
            display : none;
            color: $degrade;
            background-color: white;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
            //grid-template-rows: repeat 200px;
            height: auto; 
            gap: 0px 0px; 
            justify-content:center;
            align-items: center;
            @for $i from 1 through 10 {
                .card#{$i}{ 
                    object-fit: contain;
                    display:block;
                    max-width: 100%;
                    height:90%;
                    margin:10px;
                    padding : 10px;
                    padding-bottom: 10%;
                    color: $degrade;
                    //border: 5px solid black;
                    //border-radius:5px;
                    background-color: $texte; 
                }
                h1{
                    color: $degrade;
                }
            }
            img{
                object-fit: contain;
                align-items: center;
                display: block;
                margin: auto;
                text-align: center;
                
            }
            .inputimage{
                display: none;
            }
            .vignette{
                width:150px;
                height:100px;
                margin:0 auto;     
            }
            img{
                width:100%;
                height:100%;
                object-fit: contain;
            }
            
        }
div#page6.containerAccueil{//max-width: 1200px;
    margin: 0 100px ;
   // display: flex;
    //border: 5px solid $fond;
   //border-radius: 5px;
    display : none;
    color: $degrade;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    //grid-template-rows: repeat 200px;
    height: auto; 
    gap: 0px 0px; 
    justify-content:center;
    align-items: center;
    @for $i from 1 through 10 {
        .card#{$i}{ 
            object-fit: contain;
            display:block;
            max-width: 100%;
            height:90%;
            margin:10px;
            padding : 10px;
            padding-bottom: 10%;
            color: $degrade;
            //border: 5px solid black;
            //border-radius:5px;
            background-color: $texte; 
        }
        h1{
            color: $degrade;
        }
    }
    img{
        object-fit: contain;
        align-items: center;
        display: block;
        margin: auto;
        text-align: center;
        
    }
    .inputimage{
        display: none;
    }
    .vignette{
        width:150px;
        height:100px;
        margin:0 auto;     
    }
    img{
        width:100%;
        height:100%;
        object-fit: contain;
    }
    
        }
div#page7.containerAccueil{
            //max-width: 1200px;
            margin: 0 100px ;
           // display: flex;
            //border: 5px solid $fond;
           //border-radius: 5px;
            display : none;
            color: $degrade;
            background-color: white;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
            //grid-template-rows: repeat 200px;
            height: auto; 
            gap: 0px 0px; 
            justify-content:center;
            align-items: center;
            @for $i from 1 through 10 {
                .card#{$i}{ 
                    object-fit: contain;
                    display:block;
                    max-width: 100%;
                    height:90%;
                    margin:10px;
                    padding : 10px;
                    padding-bottom: 10%;
                    color: $degrade;
                    //border: 5px solid black;
                    //border-radius:5px;
                    background-color: $texte; 
                }
                h1{
                    color: $degrade;
                }
            }
            img{
                object-fit: contain;
                align-items: center;
                display: block;
                margin: auto;
                text-align: center;
                
            }
            .inputimage{
                display: none;
            }
            .vignette{
                width:150px;
                height:100px;
                margin:0 auto;     
            }
            img{
                width:100%;
                height:100%;
                object-fit: contain;
            }
            
        }
div#page8.containerAccueil{
            //max-width: 1200px;
            margin: 0 100px ;
           // display: flex;
            //border: 5px solid $fond;
           //border-radius: 5px;
            display : none;
            color: $degrade;
            background-color: white;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
            //grid-template-rows: repeat 200px;
            height: auto; 
            gap: 0px 0px; 
            justify-content:center;
            align-items: center;
            @for $i from 1 through 10 {
                .card#{$i}{ 
                    object-fit: contain;
                    display:block;
                    max-width: 100%;
                    height:90%;
                    margin:10px;
                    padding : 10px;
                    padding-bottom: 10%;
                    color: $degrade;
                    //border: 5px solid black;
                    //border-radius:5px;
                    background-color: $texte; 
                }
                h1{
                    color: $degrade;
                }
            }
            img{
                object-fit: contain;
                align-items: center;
                display: block;
                margin: auto;
                text-align: center;
                
            }
            .inputimage{
                display: none;
            }
            .vignette{
                width:150px;
                height:100px;
                margin:0 auto;     
            }
            img{
                width:100%;
                height:100%;
                object-fit: contain;
            }
            
        }
    
@media (max-width:800px) {
    .containerAccueil{grid-template-columns: 1fr 1fr;
         
     }
    
}
@media (max-width:200px){
    .containerAccueil{grid-template-columns: 1fr;
    }
}
 
  

