


@import 'base.scss';

$nbblock:2;
$nbcard: 5;

.containerRecherche{
    margin-top:10px;    
    border: 5px solid $fond;
    border-radius: 5px;
    h1{
        text-align: center;
        }
}

@for $i from 0 through $nbcard {
    #preview#{$i}{
        display: inline-block;
        justify-content: center;
        align-items: center;
        img{
            width:100%;
        }  
    }
    .card#{$i}{ 
        object-fit: contain;
        justify-content: center;
        align-items: center;
        display:flex;
        flex-direction: column;
        max-width: 100%;
        height:200px;
        
        margin:10px;
        padding : 10px;
        color: $degrade;
        border: 1px solid black;
        // border-radius:5px;
        background-color: $fond2; 
        -webkit-box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
        box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
    }
    h1{
        color: $degrade;
    }
}

.logopdf{
    overflow: hidden;
    width:150px;
    height:auto;
    margin:0 auto;     
}

.description{
    object-fit: contain;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    max-width: 850px;
    overflow: hidden;
    height:200px;
    //width: 200px;
    margin:10px;
    padding : 10px;
    color: $degrade;
    border: 1px solid black;
    // border-radius:5px;
    background-color: $fond2; 
    -webkit-box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
    box-shadow: 1px 1px 2px 1px rgba(250,229,231,0.86);
}
.vignette,.obj{
    overflow: hidden;
    width:250px;
    height:100px;
    margin:0 auto;     
}

input[type=text],input[type=number],input[type=mail],textarea{
    display : flex;

}
.containerImage{
    //max-width: 1200px;
    margin: 0 auto ;
    // display: flex;
    //border: 5px solid $fond;
    //border-radius: 5px;
    display : grid;
    color: $degrade;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    //grid-template-rows: repeat 200px;
    height: auto; 
    gap: 0px 0px; 
    justify-content:center;
    align-items: center;
    img{
        object-fit: contain;
        align-items: center;
        display: block;
        margin: auto;
        text-align: center;
    }
    .inputimage{
        color: $fond;
        display: none;
    }
    
}

.containerBoutton{
    //max-width: 1200px;
            margin: 0 auto ;
           // display: flex;
            //border: 2px solid $fond;
            //border-radius: 5px;
            display : grid;
            color: $degrade;
            background-color: white;
            grid-template-columns: 1fr 1fr ; 
            //grid-template-rows: repeat 200px;
            height: auto; 
            gap: 0px 0px; 
            justify-content:center;
            align-items: center;
            
            button{
                margin:10px;
                padding : 10px;
                color: $texte;
                font-weight: bold;
                font-size: $taillepolice;
                background-color:#ac4249;
                align-items: center;
                justify-content: center;;
                border: 2px solid $fond;
                border-radius:5px;
                
            }
        }

.containerForm   {
    margin: 0 auto ;
    // display: flex;
            // border: 5px solid $fond;
            // border-radius: 5px;
            display : grid;
            color: $degrade;
            background-color: white;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
            //grid-template-rows: repeat 200px;
            height: auto; 
            gap: 0px 0px; 
            display: flex;
            justify-content:center;
            align-items: center;
            label{
                font-size: 20px;
            }
            
            }
        

@media print {
    .containerForm{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
            }
        }

@media (max-width:800px) {
    .containerForm{grid-template-columns: 1fr 1fr;}
    .containerImage{grid-template-columns: 1fr 1fr;}
    .containerBoutton{grid-template-columns: 1fr 1fr;} 
    
    
}
@media (max-width:200px){
    .containerForm{grid-template-columns: 1fr;}
    .containerImage{grid-template-columns: 1fr;
    .containerBoutton{grid-template-columns: 1fr;}
    }
}

