$fond: #ac4249;
$degrade :#1b2125;
$bouton :#3c1823;
$texte  :#fae5e7;  

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

@for $i from 1 through 5 {
    #preview#{$i}{
        width: 150px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        img{
            width:100%;
        }  
    }
}
html,body{
    height: 100%;
    color: $bouton;
}

a{
    color:$texte;
    text-decoration: none;
}

span{
    color:$texte;
}
button{
    margin:10px;
    padding : 10px;
    color: $texte;
    size-adjust: 1fr;
    background-color:#ac4249;
    align-items: center;
    justify-content: center;;
    border: 5px solid $fond;
    border-radius:5px;
    
}
header,navbar{
    height:60px;
    background: radial-gradient(circle,$fond 0% , $degrade 85% );
    background-position: -150px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    
}
footer{
    position:absolute;
    background: radial-gradient(circle,$fond 0% , $degrade 85% );
    background-position: -150px;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:30px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.nav {
    color: $texte;
    text-decoration: none;
    &:hover{
        color:$fond;
        text-decoration: none;
    }
}
.containerAccueil{
    margin:10px;
    padding:10px;
    display : grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat 200px;
    height: auto; 
    gap: 10px 10px; 
    justify-content:space-evenly;
    align-items: baseline;
    border: 5px black solid;
    border-radius: 10px;
}
@for $i from 1 to 11 {
    .card#{$i}{
        background-color: $texte;
        border: 5px $fond solid;
        color: $degrade;
        border-radius: 10px;
    }    
}