* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  color: #3c1823;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  font-size: 40px;
  color: #fae5e7;
}

a {
  color: #fae5e7;
}

header, navbar {
  height: 7vh;
  background: radial-gradient(circle, #ac4249 0%, #1b2125 85%);
  background-position: -150px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
header .nav, navbar .nav {
  font-size: 30px;
  color: #fae5e7;
  text-decoration: none;
}
header .nav:hover, navbar .nav:hover {
  color: #ac4249;
  text-decoration: none;
}

footer {
  background: radial-gradient(circle, #ac4249 0%, #1b2125 85%);
  background-position: -150px;
  margin-top: auto;
  max-width: 100%;
  width: 100%;
  padding-top: 50px;
  height: 10%;
  align-items: center;
  display: flex;
}

.inputimage {
  display: none;
}

#preview1 {
  width: 150px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview1 img {
  width: 100%;
}

#preview2 {
  width: 150px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview2 img {
  width: 100%;
}

#preview3 {
  width: 150px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview3 img {
  width: 100%;
}

#preview4 {
  width: 150px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview4 img {
  width: 100%;
}

#preview5 {
  width: 150px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview5 img {
  width: 100%;
}

.containerRecherche {
  margin-top: 10px;
  border: 5px solid #ac4249;
  border-radius: 5px;
}
.containerRecherche h1 {
  text-align: center;
}

.containerAccueil {
  margin: 0 100px;
  border: 5px solid #ac4249;
  border-radius: 5px;
  display: grid;
  color: #1b2125;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  gap: 0px 0px;
  justify-content: center;
  align-items: center;
}
.containerAccueil .card1 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card2 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card3 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card4 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card5 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card6 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card7 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card8 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card9 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil .card10 {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10%;
  color: #1b2125;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #fae5e7;
}
.containerAccueil h1 {
  color: #1b2125;
}
.containerAccueil img {
  object-fit: contain;
  align-items: center;
  display: block;
  margin: auto;
  text-align: center;
}
.containerAccueil .inputimage {
  display: none;
}
.containerAccueil .vignette {
  width: 150px;
  height: 100px;
  margin: 0 auto;
}
.containerAccueil img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 800px) {
  .containerAccueil {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 200px) {
  .containerAccueil {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
