@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: #3c1823;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  font-size: 40px;
  color: #fae5e7;
}

a {
  color: #fae5e7;
}

.logo {
  width: 150px;
}

header, navbar {
  height: 10vh;
  background: radial-gradient(circle, #ac4249 0%, #1b2125 85%);
  background-position: -150px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
header .nav, navbar .nav {
  font-size: 30px;
  color: #fae5e7;
  text-decoration: none;
}
header .nav:hover, navbar .nav:hover {
  color: #ac4249;
  text-decoration: none;
}

footer {
  background: radial-gradient(circle, #ac4249 0%, #1b2125 85%);
  background-position: -150px;
  margin-top: auto;
  max-width: 100%;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
footer .menuPage {
  display: flex;
  gap: 10px;
}
footer .menuPage h1 .nav {
  font-size: 30px;
  color: #fae5e7;
  text-decoration: none;
}
footer .menuPage h1 .nav:hover {
  color: #ac4249;
  text-decoration: none;
}

.containerRecherche {
  margin-top: 10px;
  border: 5px solid #ac4249;
  border-radius: 5px;
}
.containerRecherche h1 {
  text-align: center;
}

#preview0 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview0 img {
  width: 100%;
}

.card0 {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: #1b2125;
  border: 1px solid black;
  background-color: #FFFBFB;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
  box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
}

h1 {
  color: #1b2125;
}

#preview1 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview1 img {
  width: 100%;
}

.card1 {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: #1b2125;
  border: 1px solid black;
  background-color: #FFFBFB;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
  box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
}

h1 {
  color: #1b2125;
}

#preview2 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview2 img {
  width: 100%;
}

.card2 {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: #1b2125;
  border: 1px solid black;
  background-color: #FFFBFB;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
  box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
}

h1 {
  color: #1b2125;
}

#preview3 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview3 img {
  width: 100%;
}

.card3 {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: #1b2125;
  border: 1px solid black;
  background-color: #FFFBFB;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
  box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
}

h1 {
  color: #1b2125;
}

#preview4 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview4 img {
  width: 100%;
}

.card4 {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: #1b2125;
  border: 1px solid black;
  background-color: #FFFBFB;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
  box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
}

h1 {
  color: #1b2125;
}

#preview5 {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#preview5 img {
  width: 100%;
}

.card5 {
  object-fit: contain;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 200px;
  margin: 10px;
  padding: 10px;
  color: #1b2125;
  border: 1px solid black;
  background-color: #FFFBFB;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
  box-shadow: 1px 1px 2px 1px rgba(250, 229, 231, 0.86);
}

h1 {
  color: #1b2125;
}

.logopdf {
  overflow: hidden;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.vignette, .obj {
  overflow: hidden;
  width: 250px;
  height: 100px;
  margin: 0 auto;
}

input[type=text], input[type=number], input[type=mail], textarea {
  display: flex;
}

.containerImage {
  margin: 0 auto;
  display: grid;
  color: #1b2125;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  gap: 0px 0px;
  justify-content: center;
  align-items: center;
}
.containerImage img {
  object-fit: contain;
  align-items: center;
  display: block;
  margin: auto;
  text-align: center;
}
.containerImage .inputimage {
  color: #ac4249;
  display: none;
}

.containerBoutton {
  margin: 0 auto;
  display: grid;
  color: #1b2125;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  height: auto;
  gap: 0px 0px;
  justify-content: center;
  align-items: center;
}
.containerBoutton button {
  margin: 10px;
  padding: 10px;
  color: #fae5e7;
  font-weight: bold;
  font-size: 40px;
  background-color: #ac4249;
  align-items: center;
  justify-content: center;
  border: 2px solid #ac4249;
  border-radius: 5px;
}

.containerForm {
  margin: 0 auto;
  display: grid;
  color: #1b2125;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  gap: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerForm label {
  font-size: 20px;
}

@media print {
  .containerForm {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .containerForm {
    grid-template-columns: 1fr 1fr;
  }

  .containerImage {
    grid-template-columns: 1fr 1fr;
  }

  .containerBoutton {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 200px) {
  .containerForm {
    grid-template-columns: 1fr;
  }

  .containerImage {
    grid-template-columns: 1fr;
  }
  .containerImage .containerBoutton {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style-form.css.map */
